// Add custom variables in this file. For example, define a new variable
// called `$important-link` which you can use in your custom CSS files.
//

$red: #ba0c2f;
$yellow: #ffcd00;
$white: #fff;
$brand: $red;
$brand-secondary: darken($brand, 10%);
$dark: $brand-secondary;
