// Override and add customized styles in this file.
//
// You can also create SCSS files in the app/assets/stylesheets/custom/
// folder and they will be loaded automatically.
.top-bar {
  .top-bar-title {
    width: fit-content;
    a img {
      height: rem-calc(72) !important;
      margin: 0;
      @include breakpoint(medium up) {
        height: auto;
      }
    }
  }
}
.button:hover,
.button:focus {
  background-color: $yellow;
}
.locale-form {
  select {
    background: darken($white, 10%) !important;
    border: 0;
    border-radius: rem-calc(4);
    color: $black !important;
    font-size: $small-font-size;
    height: $line-height;
    margin-bottom: 0;
    outline: none;
    padding: 0 $line-height / 4;
    width: auto;
    &:focus {
      outline: $outline-focus;
    }
  }
  &::after {
    color: $black !important;
  }
}
.top-bar-right {
  ul {
    flex-wrap: nowrap;
  }
}

.top-bar-center-title {
  text-align: center;
  width: 100%;
  font-size: rem-calc(18);
  @include breakpoint(medium down) {
    display: none;
  }
}
.auth-image {
  background: $brand;
}

.footer-images {
  width: 100%;
  max-width: 700px;
  display: block;
  text-align: right;
  img {
    max-width: 100%;
    max-height: 120px;
    margin: auto;
  }
  img:last-child {
    max-height: 70px;
  }
}
